{% extends "app_pharma_mg/bui/html/main.html" %}
{% load static %}

{% block main_block %}
<h1 class="mt-4">Dashboard</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>
<div class="row">
    <div class="col-xl-6 col-md-6">
        <div class="card bg-white text-dark mb-4 text-center">
            <div class="card-body fw-bold lh-sm">
                <span class="fs-1">{{consultation_get_qs|length}}</span>
                <hr class="dropdown-divider"/>
                Consultations Done
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-dark stretched-link"
                   href="{% url 'pharmamg:manage_consultation_view' %}">Manage</a>
                <div class="small text-dark"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    {% if clinic_user_get_qs.role == 'doctor' %}
    <div class="col-xl-6 col-md-6">
        <div class="card bg-white text-dark mb-4 text-center">
            <div class="card-body fw-bold lh-sm">
                <span class="fs-1">{{clinic_users_filter_qs|length}}</span>
                <hr class="dropdown-divider"/>
                Employees Working
            </div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-dark stretched-link" href="{% url 'pharmamg:manage_clinic_users' %}">Manage</a>
                <div class="small text-dark"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
