{% extends "app_pharma_mg/bui/html/main.html" %}
{% load static %}

{% block main_block %}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Manage Appointments
    </div>
    <div class="card-body">
        <table id="datatablesSimple" class="display responsive" width="100%">
            <thead>
                <tr>
                    <th>PATIENT</th>
                    <th>DATE</th>
                    <th>TIME</th>
                    <th>MODE</th>
                    <th>STATUS</th>
                    <th>CHARGE</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% include 'app_pharma_mg/bui/html/clinic/partial_manage_appointments.html' %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{% include 'app_pharma_mg/bui/js/pharmacy/manage_item.js' %}
{% endblock %}