{% extends "app_pharma_mg/bui/html/main.html" %}
{% load static %}

{% block main_block %}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-user-plus me-1"></i>
        Create Order
    </div>
    <div class="card-body">
        {% include 'snippets/alerts/form_alerts.html' %}
        <form class="px-3 py-4 text-center" id="order_form" name="createOrderForm" method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3 my-4 row">
                <label class="form-label col-sm-4 col-form-label control-label" for="formSelectMode">Order Type</label>
                <div class="col-sm-8">
                    <select name="mode" class="form-select" id="formSelectMode" required>
                        <option value="offline">STORE VISIT</option>
                        <option value="oncall">CALL</option>
                    </select>
                </div>
            </div>
            <div class="mb-3 my-4 row">
                <label class="form-label col-sm-4 col-form-label control-label" for="formSelectMode">Order Type</label>
                <div class="col-sm-8">
                    <select class="js-example-basic-single form-select" name="item[]" multiple="multiple" required>
                        {% for item in item_filter_qs %}
                        <option value="{{item.item_id}}" data-price="{{item.item_price}}">{{item.item_name}} -
                            {{item.item_dose}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row my-4">
                <label class="col-sm-4 col-form-label " for="id_patient_mobile">Patient Mobile</label>
                <div class="col-sm-8">
                    <input type="number" name="patient_mobile" class="form-control" maxlength="10" minlength="10"
                           id="id_patient_mobile" required>
                </div>
            </div>
            <div class="form-group row my-4">
                <label class="col-sm-4 col-form-label " for="id_patient_name">Patient Name</label>
                <div class="col-sm-8">
                    <input type="text" name="patient_name" class="form-control" maxlength="150" id="id_patient_name">
                </div>
            </div>
            <div class="form-group row my-4">
                <label class="col-sm-4 col-form-label " for="id_patient_address">Patient Address</label>
                <div class="col-sm-8">
                    <textarea name="patient_address" cols="40" rows="10" class="form-control" required=""
                              id="id_patient_address"></textarea>
                </div>
            </div>
            <div class="mb-3 my-4 row">
                <label class="form-label col-sm-4 col-form-label control-label" for="formSelectPaymentStatus">Payment
                    Status</label>
                <div class="col-sm-8">
                    <select name="payment_status" class="form-select" id="formSelectPaymentStatus" required>
                        <option value="success">RECIEVED</option>
                        <option value="incomplete">HOLD</option>
                    </select>
                </div>
            </div>
            <div class="mb-3 my-4 row">
                <label class="form-label col-sm-4 col-form-label control-label" for="formSelectPaymentMode">Payment
                    Mode</label>
                <div class="col-sm-8">
                    <select name="payment_mode" class="form-select" id="formSelectPaymentMode" required>
                        <option value="cash">CASH</option>
                        <option value="card">CARD</option>
                        <option value="upi">UPI</option>
                    </select>
                </div>
            </div>
            <button class="w-40 btn btn-lg btn-primary my-4" type="submit">Create</button>
        </form>
    </div>
</div>
{% endblock %}


{% block extra_js %}
{% include 'app_pharma_mg/bui/js/pharmacy/create_order.js' %}
{% endblock %}