{% for order in orders_filter_qs %}
<tr>
    <td>{{order.order_id}}</td>
    <td>{{order.placed_by.phone}}</td>
    <td>{{order.placed_by.user_address}}</td>
    <td>{{order.mode}}</td>
    <td>Rs. {{order.total_amount}}</td>
    <td>{{order.transaction.transaction_status}}</td>
    <td>
        {% if order.transaction.transaction_status == 'success' %}
        <button type="button" class="btn btn-success" disabled>
            SUCCESS
        </button>
        {% elif order.transaction.transaction_status == 'failed' %}
        <button type="button" class="btn btn-danger" disabled>
            FAILED
        </button>
        {% elif order.transaction.transaction_status == 'rollbacked' %}
        <button type="button" class="btn btn-danger" disabled>
            ROLL BACKED
        </button>
        {% else %}
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-primary edit" data-bs-toggle="modal"
                        data-bs-target="#editOrderStatus" onload="editData('{{order.order_id}}')">
                    <i class="fas fa-edit" aria-hidden="true"></i>
                </button>

                <div class="modal fade" id="editOrderStatus" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {% include 'snippets/alerts/form_alerts.html' %}
                                <form class="px-3 py-4 text-center editForm" name="editForm" action="javascript:void(0)"
                                      method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group row my-4">
                                        <label class="col-sm-4 col-form-label " for="id_order_id">Order ID</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="order_id" value="{{order.order_id}}"
                                                   class="form-control" maxlength="200" disabled id="id_order_id">
                                        </div>
                                    </div>
                                    <div class="mb-3 my-4 row">
                                        <label class="form-label col-sm-4 col-form-label control-label"
                                               for="formSelectPaymentStatus">Payment Status</label>
                                        <div class="col-sm-8">
                                            <select name="payment_status" class="form-select"
                                                    id="formSelectPaymentStatus" required>
                                                <option value="success">RECIEVED</option>
                                                <option value="rollbacked">ROLL BACK</option>
                                            </select>
                                        </div>
                                    </div>

                                    <button class="w-40 btn btn-lg btn-primary my-4" type="submit">Update</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>

        {% endif %}
    </td>
</tr>
{% endfor %}