{% extends "base.html" %}
{% load static %}

{% block title %}Pharma MG{% endblock %}

{% block head %}
<style>{% include 'app_pharma_mg/bui/css/main.css' %}</style>
{% endblock %}


{% block content %}

<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="{% url 'pharmamg:dashboard' %}">{{profile_get_qs.role|title}} Dashboard</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">Profile</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="{% url 'bui_logout' %}">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Home</div>
                    <a class="nav-link" href="{% url 'pharmamg:dashboard' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <div class="sb-sidenav-menu-heading">Pharmacy</div>
                    <a class="nav-link" href="{% url 'pharmamg:add_pharmacy' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-user-plus"></i></div>
                        Add Pharmacy
                    </a>
                    <a class="nav-link" href="{% url 'pharmamg:manage_pharmacy' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Manage Pharmacy
                    </a>
                    <div class="sb-sidenav-menu-heading">Clinic</div>
                    <a class="nav-link" href="{% url 'pharmamg:dashboard' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-user-plus"></i></div>
                        Add Clinic
                    </a>
                    <a class="nav-link" href="{% url 'pharmamg:dashboard' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Manage Clinic
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in user:</div>
                {{profile_get_qs.first_name|title}} {{profile_get_qs.last_name|title}}
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4 py-4">
                {% include 'snippets/alerts/alert.html' %}
                {% block main_block %}
                {% endblock %}
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; PharmaMG 2023</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
    {% include 'app_pharma_mg/bui/js/main.js' %}
    {% block extra_js %}
    {% endblock %}
</script>
{% endblock %}