{% extends "app_pharma_mg/bui/html/main.html" %}
{% load static %}

{% block main_block %}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Manage Clinic
    </div>
    <div class="card-body">
        <table id="datatablesSimple" class="display responsive" width="100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type Of Clinic</th>
                    <th>Registered Phone Number</th>
                    <th>Email ID</th>
                    <th>Is Verified</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% include 'app_pharma_mg/bui/html/partial_manage_clinic.html' %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{% include 'app_pharma_mg/bui/js/manage_clinic.js' %}
{% endblock %}