{% for pharmacy in pharmacy_user_get_qs %}
<tr>
    <td>{{pharmacy.pharmacy.name|title}}</td>
    <td>{{pharmacy.pharmacy.store_phone}}</td>
    <td>{{pharmacy.pharmacy.email}}</td>
    <td>{{pharmacy.pharmacy.is_verified}}</td>
    <td>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
                <a type="button" class="btn btn-outline-danger delete"
                   href="{% url 'pharmamg:delete_pharmacy' pharmacy_id=pharmacy.pharmacy %}"><i
                        class="fas fa-trash bg-outline-danger" aria-hidden="true"></i></a>
            </li>
            <li class="list-group-item">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-outline-primary edit" data-bs-toggle="modal"
                        data-bs-target="#editPharmacy" onload="editData('{{pharmacy.pharmacy}}')">
                    <i class="fas fa-edit" aria-hidden="true"></i>
                </button>

                <div class="modal fade" id="editPharmacy" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Edit</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {% include 'snippets/alerts/form_alerts.html' %}
                                <form class="px-3 py-4 text-center editForm" name="editForm" action="javascript:void(0)"
                                      method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group row my-4">
                                        <label class="col-sm-4 col-form-label " for="id_pharmacy_id">Pharmacy ID</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="pharmacy_id" value="{{pharmacy.pharmacy}}"
                                                   class="form-control" maxlength="200" disabled id="id_pharmacy_id">
                                        </div>
                                    </div>
                                    <div class="form-group row my-4">
                                        <label class="col-sm-4 col-form-label " for="id_name">Pharmacy Name</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="name" class="form-control"
                                                   value="{{pharmacy.pharmacy.name}}" maxlength="200" required=""
                                                   id="id_name">
                                        </div>
                                    </div>
                                    <div class="form-group row my-4">
                                        <label class="col-sm-4 col-form-label " for="id_email">Email Address</label>
                                        <div class="col-sm-8">
                                            <input type="email" name="email" class="form-control"
                                                   value="{{pharmacy.pharmacy.email}}" maxlength="200" disabled
                                                   id="id_email">
                                        </div>
                                    </div>
                                    <div class="form-group row my-4">
                                        <label class="col-sm-4 col-form-label " for="id_store_phone">Phone
                                            Number</label>
                                        <div class="col-sm-8">
                                            <input type="number" name="store_phone" class="form-control"
                                                   value="{{pharmacy.pharmacy.store_phone}}" maxlength="15" disabled
                                                   id="id_store_phone">
                                        </div>
                                    </div>
                                    <div class="form-group row my-4">
                                        <label class="col-sm-4 col-form-label " for="id_store_additional_contact">Additional
                                            Phone Number</label>
                                        <div class="col-sm-8">
                                            <input type="number" name="store_additional_contact" class="form-control"
                                                   help_text="Enter additional contact number" maxlength="15"
                                                   id="id_store_additional_contact">
                                        </div>
                                    </div>
                                    <div class="form-group row my-4">
                                        <label class="col-sm-4 col-form-label " for="id_address">Address</label>
                                        <div class="col-sm-8">
                                            <textarea name="address" cols="40" rows="10" class="form-control"
                                                      required="" id="id_address"></textarea>
                                        </div>
                                    </div>
                                    <div class="mb-3 my-4 row">
                                        <label class="form-label col-sm-4 col-form-label "
                                               for="id_registration_certificates">Registration certificates</label>
                                        <div class="col-sm-8">
                                            <input type="file" name="registration_certificates" class="form-control"
                                                   help_text="Upload Pharmacy related registration certificates"
                                                   multiple="" id="id_registration_certificates">
                                        </div>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label" for="id_is_verified">
                                            Is verified
                                        </label>
                                        <input type="checkbox" name="is_verified" class="form-check-input"
                                               value="{{pharmacy.pharmacy.is_verified}}"
                                               help_text="Is Pharmacy genuine?" required="" id="id_is_verified">
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label" for="id_is_phone_verified">
                                            Is phone verified
                                        </label>
                                        <input type="checkbox" name="is_phone_verified"
                                               value="{{pharmacy.pharmacy.is_phone_verified}}" class="form-check-input"
                                               required="" id="id_is_phone_verified">
                                    </div>
                                    <div class="form-group row my-4">
                                        <label class="col-sm-4 col-form-label " for="id_gst_registration_number">Gst
                                            registration number</label>
                                        <div class="col-sm-8">
                                            <input type="text" name="gst_registration_number" class="form-control"
                                                   value="{{pharmacy.pharmacy.gst_registration_number}}"
                                                   help_text="Enter GST Registration number" maxlength="150" required=""
                                                   id="id_gst_registration_number">
                                        </div>
                                    </div>
                                    <div class="form-group row my-4">
                                        <label class="col-sm-4 col-form-label " for="id_date_of_establishment">Date of
                                            establishment</label>
                                        <div class="col-sm-8">
                                            <input type="date" name="date_of_establishment" class="form-control"
                                                   help_text="Enter Date Of Establishment"
                                                   value="{{pharmacy.pharmacy.date_of_establishment}}" disabled
                                                   id="id_date_of_establishment">
                                        </div>
                                    </div>
                                    <button class="w-40 btn btn-lg btn-primary my-4" type="submit">Save Changes</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </td>
</tr>
{% endfor %}