{% extends "base.html" %}
{% load static %}

{% block head %}
{% endblock %}


{% block content %}

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/"
                    class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none text-center">
                    <span class="fs-5 d-none d-sm-inline">{{profile_get_qs.role|title}} Panel</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                    id="menu">
                    <li class="nav-item">
                        <a href="{% url 'pharmamg:dashboard' %}" class="nav-link align-middle px-0" data-bs-toggle="tooltip" data-bs-placement="right" title="Dashboard">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="nav-link px-0 align-middle" data-bs-toggle="tooltip" data-bs-placement="right" title="manage Pharmacy">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Manage Pharmacy</span></a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle" data-bs-toggle="tooltip" data-bs-placement="right" title="Manage Clinic">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Manage Clinic</span></a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle" data-bs-toggle="tooltip" data-bs-placement="right" title="Add Pharmacy">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Add Pharmacy</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle" data-bs-toggle="tooltip" data-bs-placement="right" title="Add Clinic">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Add Clinic</span>
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{profile_get_qs.profile_pic.url}}" alt="profile" width="30" height="30"
                            class="rounded-circle">
                        <span class="d-none d-sm-inline mx-3">{{profile_get_qs.first_name|title}} {{profile_get_qs.last_name|title}}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'bui_logout' %}">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3">
            <main id="main-content" class="container-fluid">
                {% include 'snippets/alerts/alert.html' %}
                {% block main_block %}
                {% endblock %}
            </main>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}